// Primary colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

// Neutral colors
$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$vary-light-gray: hsl(0, 0%, 98%);
$white: #fff;

// Fonts weight
$medium-weight: 500;
$bold-weight: 700;

// Fonts size
$xs-font-size: 12px;
$s-font-size: 15px;
$m-font-size: 29px;
$l-font-size: 36px;
$xl-font-size: 39px;
$xxl-font-size: 51px;

// Wrapper
$max-width-wrapper: 1130px;

// Padding
$padding-wrapper: 0 10px;

// Margin
$margin-center: 0 auto;