.clients {
    width: 100%;
    height: 100%;
}

.clients__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.clients__title {
    font-size: $xl-font-size;
    font-weight: $bold-weight;
    color: $dark-blue;
}

