@font-face {
    font-family: "Vietnam";
    src: url("../../fonts/BeVietnamPro-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Vietnam";
    src: url("../../fonts/BeVietnamPro-Medium.ttf");
    font-style: normal;
    font-weight: 500;
} 

@font-face {
    font-family: "Vietnam";
    src: url("../../fonts/BeVietnamPro-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}  